body {
  color: white;
  background-repeat: no-repeat;
  background: rgb(2, 12, 41);
  height: 100vmin;
}

#ranking {
  box-sizing: border-box;
  width: 50%;
  transform: translateX(calc(100vw - 100%));
  height: 50vh;
  top: calc(50vh - 30px);
}

#topStatus > #statusBar {
  height: 30px;
  background: rgb(0, 0, 0);
}

#bottomStatus > #statusBar {
  height: 35px;
  background: rgb(0, 0, 0);
}

#rankingDisplay {
  display: flex;
}
